@{
    #pragma warning disable CS8602
}
@model Event

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Event Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css" />
<script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>

<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-block" id="eventDateBtn" onclick="showInfo('Event Date')">Event Date</button>
            <button class="btn btn-info btn-block mt-2" id="infoBtn" onclick="showInfo('Information')">Information</button>
            <button class="btn btn-success btn-block mt-2" id="usersBtn" onclick="showInfo('Users')">Users</button>
        </div>
        

        <div class="col-md-3" style="margin-left: 0; padding-left: 0;">
            <div id="infoBorder">
            </div>
        </div>

        <div class="col-md-6">
            <div id="leafletMap" style="height: 400px; min-height: 300px; width: 100%;"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <div id="miniChat">
            </div>
        </div>
    </div>
</div>

<!-- Load Leaflet.js and your script when the page is loaded -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    // Function to initialize the map
   function initMap() {
    var locationString = "@Model.Location";
    var locationArray = locationString.split(',').map(function (value) {
        return parseFloat(value.trim());
    });

    if (!isNaN(locationArray[0]) && !isNaN(locationArray[1])) {
        var map = L.map('leafletMap').setView(locationArray, 15);
        L.marker(locationArray).addTo(map);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
    } else {
        console.error("Invalid coordinates in the location string.");
    }
}

    
    // Load the map when the page is loaded
    window.onload = initMap;
</script>
